body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.my-btn form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card {
  height: 700px;
}
.card img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}

form {
  width: 20%;
}
form .my-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*# sourceMappingURL=index.css.map */
